.navbar {
    background: transparent linear-gradient(90deg, #41096D 0%, #4C1B72 100%) 0% 0% no-repeat padding-box;
    border-bottom: 2px solid #5032E9;
   }
  
  .nav-item {
    font-size: 20px; }
  
  .navbar .nav-link {
    font-size: 16px;
    padding-left: 1rem !important;
    padding-right: 1rem !important; }
  