//colors
$primary : #231667;
$secondary : #7836FF;
$tertiary :#EEF3F9;
$white : white;

// background-colors
$bg-primary:$primary;
$bg-secondary :$secondary;
$bg-tertiary : $tertiary;
$bg-white :$white;


// font Family

$font-family: 'Raleway', sans-serif;

// font
$font-primary:$font-family;


